*{
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
}

html {
  background-color: #1e0033;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  color: #FFF8DC;
  line-height: 1rem;
}

header {
  width: 100vw;
  font-size: 12px;
  text-transform: uppercase;
  float: left;
  position: fixed;
  color: #1e0033;
  background-color: #FFA500;
  letter-spacing: 0.5px; 
  top: 0;
  left: 0;
  padding: 8px;
  z-index: 10;
}

nav a {
  padding: 0 10px;
  display: inline;
  text-decoration: none;
  color: #1e0033;
}

.site {
  font-weight: 700;
  float: left;
}

main {
  position: relative;
  margin: 25px 20px;
}

H1 {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .5rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

.hero {
  border-radius: 30px;
  width: 500px;
  height: auto;
  padding: 25px;
}

.container {
  float: right;
  position: sticky;
  top: 0;
}

.story {
  width: 500px;
  height: auto;
  padding: 10px 0;
  text-align: justify; 
}



  
